#myChart{
    margin-top: 3%;
    margin-left: 5%;
    max-width: 80%;
}
html,body {
	background-color: #121212;
    height: 120%;
}
.pageTitle
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; font-style: italic;
}
.pageDisplay {
    margin:auto;
    border-radius: 25px;
    border-style: solid;
    color:#FFF8DC;
    border-color: #FFF8DC;  
    max-width: fit-content;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;    overflow: hidden;
    background-color: #121212;
  }
  
  li {
    margin: auto;
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    /* padding-left: */
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #121;
  }
.page-content{
    padding-bottom: 100px;}
.card-subhead{
    margin:auto;
    width: 40%;
    font-size: 32px;
    /* border: 3px solid green; */
    font-family: 'Lato';
    padding: 2px;
}
#returnButtonContainer{
    position: absolute;
    top: 50%;
    left: 88%;
    bottom: 60%;
    width: 120px;
    height: 55px;
    /* background-color: white; */
    /* border-style: solid; */
    border-radius: 25px;
    
}
.returnButton{
    position: relative;
    /* text-align: center; */
    width: 120px;
    height: 55px;
    border-style: solid;
    border-radius: 25px;
    background-color: #FAF0E6;
    font-weight: bold;
    
}