.page-content {
    margin: 1%;
    height: 120%;
}

.selectionColumn {
    float: left;
    width: 33.33%;
    margin-top: -2%;
}

.selectionColumn table {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.assignButton {
    margin: auto;
    margin-top: 20%;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.unassignButton {

    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.page-content:after {
    content: "";
    display: table;
    clear: both;

}

.returnButton {
    position: absolute;
    bottom: -20%;
    left: 10%;
}

.burndownButton {
    position: absolute;
    bottom: -20%;
    right: 47%
}

.completeButton {
    position: absolute;
    bottom: -20%;
    right: 10%;
}

#teamMembers {
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
}


.modal {
    border-radius: 5%;
    border: 0;
    background-color: white;
    width: 50%;
    text-align: center;
}

.modal::backdrop {
    background: rgba(0,0,0,0.5);
}

#modalTaskDesc {
    margin-bottom: 5%;
}

.taskDescPriority {
    width: 50%;
    padding: 5px 0;
    color: white;
    margin: 10px auto;
}
#logTime
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 20px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}


html,body {
	background-color: #121212;
    height: 100%;
}
.pageTitle
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; font-style: italic;
}
#taskNameText{
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.pageDisplay {
    margin:auto;
    border-radius: 25px;
    border-style: solid;
    color:#FFF8DC;
    border-color: #FFF8DC;  
    max-width: fit-content;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;    overflow: hidden;
    background-color: #121212;
  }
  
  li {
    margin: auto;
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    /* padding-left: */
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #121;
  }
  #inProgressText{
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 20px;
  }
  #toDoText{
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 20px;
  }
  #doneText{
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 20px;
  }
  #pBTable{
    background-color: #232323;
  }
  #sBTable{
    background-color: #232323;
  }
  .toDo{
    background-color: #454545;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  .inProgress{
    background-color: #454545;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  .done{
    background-color: #454545;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
  }
.toDo:hover{
    background-color: white;
    color: black; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;

}
.inProgress:hover{
    background-color: white;
    color: black; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.done:hover{
    background-color: white;
    color: black; font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.returnButtonClass{
  position: relative;
  /* text-align: center; */
  width: 120px;
  height: 55px;
  border-style: solid;
  border-radius: 25px;
  background-color: #FAF0E6;
  font-weight: bold;
  
}
.returnButtonClass:hover {
  box-shadow: inset 0px 0px 10px red;
}
.burndownButtonClass{
  position: relative;
  /* text-align: center; */
  width: 120px;
  height: 55px;
  border-style: solid;
  border-radius: 25px;
  background-color: #FAF0E6;
  font-weight: bold;
  
}
.burndownButtonClass:hover {
  box-shadow: inset 0px 0px 10px green;
}
.completeButtonClass{
  position: relative;
  /* text-align: center; */
  width: 120px;
  height: 55px;
  border-style: solid;
  border-radius: 25px;
  background-color: #FAF0E6;
  font-weight: bold;
  
}
.completeButtonClass:hover {
  box-shadow: inset 0px 0px 10px blue;
}