#addTaskButton{
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 5%

    
}


.mdl-cell {
    background: #bdbdbd;
    padding: 60px 0;
    text-align: center;
    color: #424242;
    font-weight: bold;
  }