
.body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#addTaskButton{
    position: absolute;
    left: 45%;
    width: 120px;
    bottom: 5%;
    
}


.mdl-cell {
    background: #bdbdbd;
    padding: 120px 0;

    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px;
    font-weight: bold, ridge;
    text-align: center;
    max-height: 100px;
    max-width: 20%;
    font-size: medium;
    font-weight:bold;
    position: relative;
    left: 100px
    
    
    
    

  }
#taskText {
    font-size: medium;
    font-weight: bold;
    position: relative;
    top: -60px
    /* text-align: center; */

}
.btn-styled {
    position: absolute;
    top: 60%;
    text-align: center;
    left: 30%;
}

.btn-styled_del {
    position: absolute;
    top: 70%;
    text-align: center;
    left: 40%;
}
