form { 
    position: relative;
    margin: 0 auto; 
    width:250px;
    top: 30px;
    }

#taskViewSaveBtn{
        position: absolute;
        left:66%;
        top: 40%;
        width: 120px;
    }
#taskViewBackBtn{
        position: absolute;
        left:66%;
        top:47%;
        width: 120px;
    }  
