#taskCreationDoneBtn{
    position: absolute;
    left:66%;
    top: 40%;

    width: 120px;
}
#taskCreationBackBtn{
    position: absolute;
    left:66%;
    top: 47%;
    width: 120px;
}
form { 
    position: relative;
    margin: 0 auto; 
    width:250px;
    top: 30px;
    }
#errorMessage {
    position: absolute;
    color: red;
    left: 36%;
    bottom: 30px;
}
.pageTitle
{
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; font-style: italic;
}