.teamMemberBox {
    background-color: #fff;
    border: 0 solid #000000;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    background-color: #FAF0E6;
    max-width: 60%;
}

.teamMemberBox:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 10%) {
    .teamMemberBox {

        font-size: 1.125rem;
        /* padding: 1rem 2rem; */
    }
}


  
  #addTeamButtonContainer{
    position: absolute;
    left: 90%;
    top: 38%;
    width: 190px;
    bottom: 80%;
    
}
.addTeamButton{
  position: relative;
  /* text-align: center; */
  width: 120px;
  height: 55px;
  border-style: solid;
  border-radius: 25px;
  background-color: #FAF0E6;
  font-weight: bold;
}
.addTeamButton:hover {
  box-shadow: inset 0px 0px 10px red;
}
div.chartWrapper {
    position: relative;
    overflow: auto;
    width: 95%;
}

div.chartContainer {
    position: relative;
    height: 300px;
    padding-left: 3%;

}
#teamAnalytics
{
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 16px; font-weight:lighter; letter-spacing: -1px; line-height: 1; text-align: left;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
  
    padding-left: 10%;
  
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  
  .media-scroller--with-groups {
    grid-auto-columns: 80%;
  }
  
  .media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
  }
  
  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
  }
  
  .snaps-inline > * {
    scroll-snap-align: start;
  }
  
  /* general styling */
  
  .container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
  }
  
  .flow {
    display: grid;
    gap: var(--size-3);
  }

  .media-scroller {
    width: 90%;
    height: 100px;
    overflow-y: scroll;
    scrollbar-width: auto;
  }


html,body {
	background-color: #121212;
    /* height: 10%; */
}
.pageTitle
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    position: relative;
    margin:auto;
    padding: 10px;
    top: 45px;
    color: #FFF8DC; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; font-style: italic;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;    overflow: hidden;
    background-color: #121212;
  }
  
  li {
    margin: auto;
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    /* padding-left: */
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #121;
  }
  .pageDisplay {
    margin:auto;
    border-radius: 25px;
    border-style: solid;
    color:#FFF8DC;
    border-color: #FFF8DC;  
    max-width: fit-content;
  }
  #text {
    color: #FFF8DC;
  }
  #teamAnalytics {
    font-weight: bold;
    color: #FFF8DC;
    padding-left: 3%;

  }
  .deleteButton{
    position: relative;
    top: 55px;
    right: 240px;
    height: 40px;
    width: 100px;
  }