#addTeamMembers{
    position: fixed;
    left: 55%;
    width: 100%;
    bottom: 5%
  
}
.mdl-cell {
    background: #bdbdbd;
    padding: 60px 0;
    text-align: center;
    color: #424242;
    font-weight: bold;
  }

  #addTaskButton{
    position: absolute;
    left: 88%;
    width: 190px;
    bottom: 60%;
    
}
