.pageTitle
{
    color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    color: #111; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 22px; text-align: center; font-style: italic;
}

.body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#addTaskButton{
    position: absolute;
    left: 88%;
    width: 120px;
    bottom: 60%;
    
}
.sprintBox {
    position: relative;
    border: 0;
    border-radius: 15px;
    background-color: #FAF0E6;
    box-shadow: 0px 0px 10px white;
}

.sprintBox:hover{
    box-shadow: inset 0px 0px 10px red;
}


.mdl-cell {
    background: #bdbdbd;
    padding: 120px 0;

    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px;
    font-weight: bold, ridge;
    text-align: center;
    max-height: 100px;
    max-width: 20%;
    font-size: medium;
    font-weight:bold;
    position: relative;
    left: 80px
}



#taskText {
    font-size: medium;
    font-weight: bold;
    position: relative;
    top: -60px
    /* text-align: center; */

}

.mdl-selectfield__select{
    position: absolute;
    left: 87%;
    top: 8%;
    width: 10%
}

#taskTextSprint { 
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 70px; 

    /* left: 20%;*/
}
#taskName
{    
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(91, 23, 185);
    margin: auto;
    border: #23a6d5;
    position: relative;
    bottom: 80px; 

}


#filterText {
    position: absolute;
    left: 87%;
    top: 4%;
    width: 10%;
    font-weight: lighter;
    font-size: medium;
    
}
#deleteBtn {
    position: relative;
    right: 113px;
    top: 170px;
}
#detailViewBtn {
    position: relative;
    bottom: 60px;
    right: 4px;
}

.seeDetailsBtn {
    position: relative;
    bottom: 70px;
    right: 70px;
    width: 100px;
}

.deleteSprint {
    position: relative;
    right: 50px;
    width: 100px;
    height: 45px;
    top: 197.5px;
}



.resize {
    position: relative;
    width: 500px;
    height: auto;
    right: 170px;
    top: 80px;
}