
html,body {
	background-color: #121212;
    height: 110%;
}

.pageTitle
{
    color: #FFF8DC; font-family: 'Helvetica Neue', sans-serif; font-size: 75px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
.pageDescription
{
    color:  #FFF8DC; font-family: 'Open Sans', sans-serif; font-size: 19px; font-weight: 300; line-height: 32px; margin: 0 0 22px; text-align: center; font-style: italic;
}
.pageDisplay {
    margin:auto;
    border-radius: 25px;
    border-style: solid;
    color:#FFF8DC;
    border-color: #FFF8DC;  
    max-width: fit-content;
    padding: 40px;
  }



  #addSprintButtonContainer{
    position: absolute;
    top: 50%;
    left: 88%;
    width: 120px;
    bottom: 60%;
    height: 55px;
    /* background-color: white; */
    /* border-style: solid; */
    border-radius: 25px;
    
}
.addSprintButton{
    position: relative;
    /* text-align: center; */
    width: 120px;
    height: 55px;
    border-style: solid;
    border-radius: 25px;
    background-color: #FAF0E6;
    font-weight: bold;
    
}
.addSprintButton:hover{
    box-shadow: inset 0px 0px 10px red;
}


.mdl-cell {
    background: #bdbdbd;
    padding: 120px 0;

    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px;
    font-weight: bold, ridge;
    text-align: center;
    max-height: 100px;
    max-width: 20%;
    font-size: medium;
    font-weight:bold;
    position: relative;
    left: 80px
    
    
    
    

  }
#taskText {
    font-size: medium;
    font-weight: bold;
    position: relative;
    top: -60px
    /* text-align: center; */

}

.mdl-selectfield__select{
    position: absolute;
    left: 87%;
    top: 8%;
    width: 10%
}

#taskTextSprint { 
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 70px; 

    /* left: 20%;*/
}
#taskName
{    
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: rgb(91, 23, 185);
    margin: auto;
    border: #23a6d5;
    position: relative;
    bottom:100px; 

}


#filterText {
    position: absolute;
    left: 87%;
    top: 4%;
    width: 10%;
    font-weight: lighter;
    font-size: medium;
    
}
#deleteBtn {
    position: relative;
    right: 113px;
    top: 170px;
}
#detailViewBtn {
    position: relative;
    bottom: 60px;
    right: 4px;
}

.pbiBox {
    border: 0;
    border-radius: 15px;
    background-color: #edeef6;
    box-shadow: 0px 0px 10px;
}

.pbiBox:hover{
    box-shadow: inset 0px 0px 10px;
}

.seeDetailsBtn {
    position: relative;
    bottom: 40px;
    right: -10px;
    width: 120px;
    height: 55px;
    border-style: solid;
    border-radius: 25px;
    background-color: #FAF0E6;
    font-weight: bold;
}
.seeDetailsBtn:hover {
    box-shadow: inset 0px 0px 10px red;
}
.deleteSprint {
    position: relative;
    left: 0px;
    width: 100px;
    height: 35px;
    bottom: 39px;
    border-style: solid;
    border-radius: 25px;
    background-color: #FAF0E6;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;    overflow: hidden;
    background-color: #121212;
    }
      
li {
    margin: auto;
    float: left;
    border-right: 1px solid #bbb;
    }
    li:last-child {
    border-right: none;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    /* padding-left: */
    text-decoration: none;
    font-weight: bold;
    }
      
    /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #121;
}
    
.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    /* padding: 2em; */
    right: 42%;
    top: -110px; 
    /* transform: translateX(-50%) */
}